<f-div direction="column" height="100%">
  <f-div
    state="secondary"
    height="30px"
    gap="medium"
    align="middle-left"
    border="small solid subtle bottom"
    padding="none medium"
  >
    <img src="assets/favicon.svg" alt="img" />
    <f-text variant="heading" size="x-small" weight="regular"
      >A Singapore Government Agency Website</f-text
    >
  </f-div>

  <f-div align="middle-center">
    <f-div
      width="468px"
      height="348px"
      class="logout-box"
      variant="curved"
      state="secondary"
      align="middle-center"
      direction="column"
      gap="x-large"
      padding="large"
    >
      <img src="assets/dawn.svg" />
      <f-div direction="column" align="middle-center" height="hug-content">
        <f-text align="center" variant="para" size="medium" weight="regular"
          >You have now logged out of DAWN.</f-text
        >
        <f-text align="center" variant="para" size="medium" weight="regular"
          >Thank you!</f-text
        >
      </f-div>
      <f-button
        label="log in"
        variant="round"
        size="medium"
        state="primary"
      ></f-button>
    </f-div>
  </f-div>

  <f-div
    state="default"
    height="30px"
    border="small solid subtle top"
    class="responsive-footer"
  >
    <f-div
      class="responsive-footer-menu"
      border="small solid subtle right"
      width="hug-content"
      align="middle-center"
    >
      <f-text variant="para" size="x-small" weight="regular"
        >© 2023 Civil Service College, Singapore</f-text
      >
    </f-div>
    <f-div
      class="responsive-footer-menu"
      border="small solid subtle right"
      width="hug-content"
      align="middle-center"
    >
      <f-text variant="para" size="x-small" weight="regular"
        ><a href="#">Report an issue</a></f-text
      >
    </f-div>
    <f-div
      width="hug-content"
      align="middle-center"
      class="responsive-footer-menu"
    >
      <f-text variant="para" size="x-small" weight="regular"
        ><a href="#">Contact us</a></f-text
      >
    </f-div>
  </f-div>
</f-div>
