.not-responsive-icon-group {
  width: inherit;
}

@media (max-width: 768px) {
  .responsive-icon-group {
    width: inherit;
  }
  .not-responsive-icon-group {
    display: none;
  }
}
@media (min-width: 768px) {
  .responsive-icon-group {
    display: none;
  }
  .not-responsive-icon-group {
    width: inherit;
  }
}
