<!-- control panel start -->
<f-div
  data-f-id="control-panel"
  direction="column"
  padding="none"
  overflow="wrap"
>
  <!-- welcome message section start -->
  <f-div
    data-f-id="welcome message"
    state="subtle"
    align="middle-center"
    direction="column"
    gap="large"
    overflow="wrap"
  >
    <f-div padding="none" align="middle-center" height="hug-content">
      <f-pictogram
        source="💬"
        variant="square"
        size="x-large"
        state="default"
      ></f-pictogram>
    </f-div>
    <f-div
      padding="none"
      align="middle-center"
      height="hug-content"
      direction="column"
      gap="large"
    >
      <f-text variant="heading" size="x-large" weight="bold">
        Welcome to Flow
      </f-text>
      <f-div
        padding="none"
        align="middle-center"
        height="hug-content"
        width="388px"
      >
        <f-text variant="para" size="medium" weight="regular" state="default">
          A design system that consists of principles, patterns, guidelines, and
          processes to enable design at scale.
        </f-text>
      </f-div>
    </f-div>
  </f-div>
  <!-- welcome message section end -->
  <!-- info section start -->
  <f-div
    data-f-id="info-sections"
    padding="x-large"
    gap="x-large"
    align="middle-left"
    overflow="wrap"
    class="bottom-section"
  >
    <f-div
      *ngFor="let item of codebase"
      padding="none"
      gap="medium"
      width="hug-content"
      height="hug-content"
    >
      <f-icon [source]="item.icon" size="medium" state="default"></f-icon>
      <f-div padding="none" align="top-left" direction="column" gap="small">
        <f-text variant="heading" size="medium" weight="medium">
          {{ item.title }}
        </f-text>
        <f-div padding="none" align="top-left" direction="column" gap="small">
          <f-div
            padding="none"
            align="top-left"
            width="298px"
            overflow="hidden"
          >
            <f-text variant="para" size="small" weight="regular">
              {{ item?.subTitle }}
            </f-text>
          </f-div>
          <f-div padding="none" align="top-left">
            <a [href]="item?.link1?.link" target="blank">
              <f-text
                variant="para"
                size="small"
                weight="regular"
                state="primary"
              >
                {{ item?.link1?.name }}
              </f-text>
            </a>
          </f-div>
          <f-div padding="none" align="top-left">
            <a [href]="item?.link2?.link" target="blank">
              <f-text
                variant="para"
                size="small"
                weight="regular"
                state="primary"
              >
                {{ item?.link2?.name }}
              </f-text>
            </a>
          </f-div>
          <f-div padding="none" align="top-left" *ngIf="item?.link3">
            <a [href]="item?.link1?.link" target="blank">
              <f-text
                variant="para"
                size="small"
                weight="regular"
                state="primary"
              >
                {{ item?.link3?.name }}
              </f-text>
            </a>
          </f-div>
        </f-div>
      </f-div>
    </f-div>
  </f-div>
  <!-- info section end -->
</f-div>
<!-- control panel end -->
